{% extends 'base/base.html' %}

{% block body_block %}
  <div class="jumbotron jumbotron-fluid">
    {% if not registered %}
    <h1>Welcome to registration!</h1>
    <p> ** Make sure you update details as per best of your knowledge **</p>
    <hr>
    <form class="form-group" method="POST" enctype="multipart/form-data">
      {{form_user.as_p}}
      {{form_extention.as_p}}
      {% csrf_token %}
      <input type="submit" name="" value="Register">
    </form>
    {% else %}
    <h1>Thank you for Registration</h1>
    {% endif %}
  </div>
{% endblock %}
